@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .main-menu
    right: 60px
    ul li
      padding: 0 3px

  .all-classes ul li div a
        padding-left: 5px

  .next-event-item
    margin: 0 15px 0 8px
    padding: 7px 0

  .from-the-blog
    padding: 10px 14px 0px 
  
  .partner
    img
      // margin: 30px 0px 18px
      margin-right: 0
      margin-left: 50px
    >div:nth-child(even)
      img
        margin-left: 30px


      
  

// ≥992px
+media-breakpoint-down(md)
  .main-menu
    display: none
  .mobile-menu-button
    display: block
  .header-line
    line-height: 60px

  .second-section, .thrid-section
	  h2
		  margin: 25px 0 6px

  .all-classes ul li div a
      padding-left: 30px

  .next-event-item
    padding: 13px 0 9px
    margin: 0 20px 0 8px

  .from-the-blog
    padding: 18px 14px 8px 20px 

// ≥768px
+media-breakpoint-down(sm)

  .partner
    img
      margin: 30px 5px 18px
    >div:nth-child(even)
      img
        margin-left: 0px


// ≥576px
+media-breakpoint-down(xs)
  .top-line
    display: none

  .all-classes ul li div a
    padding-left: 5px 

  .our-trainers
    .like-trainers
      margin-right: 70%
  
  .next-event-item
    padding: 13px 5px 9px 5px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
